<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="refresh" content="<?php echo $time; ?>; url=<?php echo $url; ?>">
    <title>留言板</title>
    <link rel="stylesheet" href="./public/css/home.css">
</head>
<body>
    <div id="box">
        <h1>留言板</h1>
        <div style="font-size:14px;margin: 40px;">
            <?php echo $msg; ?>正在跳转...
        </div>
    </div>
</body>
</html>